*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;  
}
h1{
    color: white;
    font-size: 80px;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 5px solid white;
    font-weight: 100;
}